In [1]:
import pandas as pd

In [16]:
df = pd.read_excel("DataLab2Student.xlsx", header=3, usecols=[10, 11, 12, 13], nrows=5)
print(df.to_latex(bold_rows=True, index=False))

\begin{tabular}{lrll}
\toprule
     Model &  Z (test stat.) & Accept/Reject & Result ES traffic light system \\
\midrule
      ES-N &       -1.742215 &        Reject &                         Yellow \\
 ES\_N\_EWMA &       -0.727824 &        Reject &                         Yellow \\
      ES-t &       -1.203534 &        Reject &                         Yellow \\
 ES-t-EWMA &       -0.628559 &        Accept &                          Green \\
    ES-BHS &       -1.000707 &        Reject &                         Yellow \\
\bottomrule
\end{tabular}

In [29]:
df = pd.read_excel("DataLab2Student.xlsx", header=3, usecols="U, V, W", nrows=5, names= ["Model", "Number over VaR", "Results VaR traffic light system"])
print(df.to_latex(bold_rows=True, index=False))

\begin{tabular}{lrl}
\toprule
      Model &  Number over VaR & Results VaR traffic light system \\
\midrule
      VaR-N &               14 &                           Yellow \\
 VaR-N-EWMA &                9 &                            Green \\
      VaR-t &               11 &                           Yellow \\
 VaR-t-EWMA &                9 &                            Green \\
    VaR-BHS &               11 &                           Yellow \\
\bottomrule
\end{tabular}

In [30]:
df

        Model  Number over VaR Results VaR traffic light system
0       VaR-N               14                           Yellow
1  VaR-N-EWMA                9                            Green
2       VaR-t               11                           Yellow
3  VaR-t-EWMA                9                            Green
4     VaR-BHS               11                           Yellow